:root {
    --backgroundColor:rgb(23, 24, 63);
    --textColor: rgb(255, 255, 255);
    --textColor2: rgb(78, 16, 192);
    --colorHover2: 0 1px 3px 0 rgba(78, 16, 192,0.5);
    --textColor3: rgb(48, 166, 212);
    --colorHover3: 0 1px 3px 0 rgba(48, 166, 212,0.5);
    background-color: var(--backgroundColor);
}

body{
    color: var(--textColor)
}

/*================contrinaer styles and selctiuon style===========*/
.choice-container{
    display: flex;
    margin-bottom: 1px;
    width: 80%;
    border-radius: 4px; 
    background-color: var(--textColor2);
    font-size: 4px;
    min-width: 40px;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: var(--colorHover2);
    transform: scale(1.02);
    transition: transform 100ms;
}
.choice-dot{
    padding: 5px 5px;
    color: var(--textColor);
}
.choice-text{
    padding: 3px;
    width: 100%;
}
.correct{
    background:green;
}
.incorrect{
    background:red;
}

/* score, timer and progress style*/
#hud{
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    text-align: center;
    font-size: 4px;
}
.hud-main-text{
    text-align: center;
}
#question{
    font-size: 5px;
}
