/* =============root var data======= */
:root {
    --backgroundColor:rgb(255, 255, 255);
    --textColor: rgb(213, 5, 5);
    --textColor2: rgb(78, 16, 192);
    --colorHover2: 0 2px 4px 0 rgba(78, 16, 192,);
    --textColor3: rgb(48, 166, 212);
    --colorHover3: 0 2px 4px 0 rgba(48, 166, 212,);
    ---placeHolderColor: rgb(104, 99, 145);
    background-color: var(--backgroundColor);
}

/*=============container boxes=========*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}

/*============text styles=============*/
.text-center{
    text-align: center;
}

/*===========hide item=======*/
.hidden{
    display: none;
}

/*=============button styles==============*/
.btn{
    text-align: center;
    text-decoration: none;
    color: var(--textColor3);
    border-radius: 7px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: var(--colorHover2);
}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/*================highscores styles===========*/
#highscore-btn{
    color: var(--textColor2);
}

#highscore-btn:hover{
    box-shadow:  var(--colorHover2) ;
}